.hello {
	color: red;
}

.container{
	max-width: 1460px;
	margin-top: 70px;
	margin-bottom: 70px;
}
.nav-link{
	color: white;
}
.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {}

input{
	width: 600px;
}
.row{
margin-top: 10px;
}
.card-img-top{
	height: 250px;    
	
.card-body{
	height: 80px;
}

h4{
	margin-top: 40px;
	margin-left: 10px;
}
p{
	padding: 5px 20px 30px 30px;
}
.bookDes{
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}
table{
	margin-left: 10px;
}
.col-md-4{
	text-align: center;
}

.notification {
	padding: 2px 2px;
	position: relative;
	display: inline-block;
	border-radius: 2px;
}

.notification .badge {
	position: absolute;
	top: -3px;
	right: -9px;
	padding: 5px 10px;
	background-color: #fa3e3e;
	border-radius: 50%;
	color: white;
}